<h1><%= @caddie.caddie_name %></h1>
<p>Location: <%= @caddie.location %></p>
<p>Rating: <%= @caddie.rating %></p>

<ul>
  <li><%= link_to "Edit", edit_caddie_path(@caddie) %></li>
  <li><%= link_to "Destroy", caddie_path(@caddie), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></li>
</ul>

<h3>Tournaments</h3>

<div>
  <% @tournaments.each do |tournament| %>
    <p><%= tournament.tournament_name %></p>
  <% end %>
</div>
