<%= form_with model: @tournament do |form| %>
  <div>
    <%= form.label :tournament_name %>
    <%= form.text_field :tournament_name %>
    <% @tournament.errors.full_messages_for(:tournament_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :course_name %>
    <%= form.text_field :course_name %>
    <% @tournament.errors.full_messages_for(:course_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :date %>
    <%= form.text_field :date %>
    <% @tournament.errors.full_messages_for(:date).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :start_time %>
    <%= form.text_field :start_time %>
    <% @tournament.errors.full_messages_for(:start_time).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :end_time %>
    <%= form.text_field :end_time %>
    <% @tournament.errors.full_messages_for(:end_time).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>